html {
    background-color: darkgray;
    text-align: center;
    font-family: "Century Gothic";
}

#presentation {
    display: none;
}

#titre1{
    font-weight: bold;
}

.menu ul {
    margin-top: -2px;
    padding-right: 8px;
    padding-top: 8px;
    position: relative;
    border-radius: 8px;
    height: 30px;
    float: left;
}

.menu li {
    text-align: center;
    display: inline-block;
    list-style: none;

}

#fleche{
    float: left;
    position: relative;
    margin-left: 10px;
    margin-top: 6px;
    width: 30px;
    height: 30px;
}

#home {
    float: left;
    width: 45px;
    height: 45px;
}

input[type=submit]{
    border: 0px;
   background-color: #555555;
    text-align: center;
    color: lightgray;
}

input[type=button]{
    border: 0px;
    background-color: #555555;
    text-align: center;
    color: lightgray;
}

.hautpage{
    border: 0px;
    background-color: #555555;
    text-align: center;
    color: lightgray;
}

input[type=text]{
    border-radius: 4px;
}

p{
    font-size: 16px;
}
ul.noteEtoile {
    margin: 0;
    padding: 0;
}

ul.noteEtoile li{
    list-style: none;
    min-height: 20px;
    min-width: 20px;
    margin: 4px;
    padding: 0;
    display: inline-block;
}

ul.noteEtoile li label {
    text-align: center;
    line-height: 20px;
    background: url("https://image.noelshack.com/fichiers/2018/10/5/1520589265-etoiles.gif") center top no-repeat;
    cursor: pointer;
    display: block;
}

ul.noteEtoile li.etoileEteinte label {
    background-position: center -60px;
}

.radioBut{
    position: absolute;
    left: -999%;
}

.musique img {
    width: auto;
    height: 400px;
}

form{
    background-color: #dcd7e1;
    text-align: center;
    border-radius: 8px;
    padding: 8px;
}

textarea{
    width: 650px;
    height: 100px;
}

.inscription{
    display: none;
}

.avisArticles{
    display: none;
}

.avisVisiteurs{
    display: none;
}

.ajoutArticle{
    display: none;
}

.retour{
    display: none;
    border-radius: 4px;
    background-color: #555555;
    text-align: center;
    color: lightgray;
}



