html {
    text-align: center;
}

h3 {
    display: none;
}

h1{
    display: none;
}

#presentation {
    display: none;
}


.musique{
    display: none;
}

.inscription{
    display: none;
}

.show{
    display: block;
}

.hiphopButton{
    background:url("https://image.noelshack.com/fichiers/2018/10/1/1520281215-large.jpg");
    width: 300px;
    height: 300px;
    text-align: center;
}

.rockButton{
    background:url("https://image.noelshack.com/fichiers/2018/10/1/1520283920-texte-en-flex-thermocollant-rock.jpg");
    width: 300px;
    height: 300px;
    text-align: center;
}


