html {
    background-color: darkgray;
    text-align: center;
}

#presentation {
    display: none;
}


.menu ul {
    float: left;
    background-color: #555555;
}
.menu li {
    display: block;
    list-style: none;

}

#home {
    width: 30px;
    height: 30px;
    margin-left: -500px;
}

ul.noteEtoile {
    margin: 0;
    padding: 0;

}

ul.noteEtoile li{
    list-style: none;
    min-height: 20px;
    min-width: 20px;
    margin: 4px;
    padding: 0;
    display: inline-block;
}

ul.noteEtoile li label {
    text-align: center;
    line-height: 20px;
    background: url("https://image.noelshack.com/fichiers/2018/10/5/1520589265-etoiles.gif") center top no-repeat;
    cursor: pointer;
    display: block;
}

ul.noteEtoile li.etoileEteinte label {
    background-position: center -60px;
}

ul.noteEtoile li.etoileCochee {
    font-weight: bold;
}


.radioBut{
    position: absolute;
    left: -999%;
}

.musique img {
    width: auto;
    height: 400px;
}

.inscription{
    display: none;
}

.avisArticles{
    display: none;
}

.avisVisiteurs{
    display: none;
}

.retour{
    display: none;
}

.show{
    display: block;
}

.hide{
    display: none;
}

