html {
    text-align: center;
}

#presentation {
    display: none;
}

ul.noteEtoile {
    margin: 0;
    padding: 0;
}

ul.noteEtoile li{
    list-style: none;
    min-height: 20px;
    min-height: 20px;
    margin: 0;
    padding: 0;
}

ul.noteEtoile li label {
    display: block;
    text-align: center;
    line-height: 20px;
    background: url("https://image.noelshack.com/fichiers/2018/10/5/1520589265-etoiles.gif") center top no-repeat;
    cursor: pointer;
}

ul.noteEtoile li.etoileEteinte label {
    background-position: center -60px;
}

.radioBut{
    position: absolute;
    left: -999%;
}



.inscription{
    display: none;
}

.avis{
    display: none;
}

.retour{
    display: none;
}

.show{
    display: block;
}

.hide{
    display: none;
}

/*.hiphopButton{
    background:url("https://image.noelshack.com/fichiers/2018/10/2/1520353611-28907212-2087038297980906-1327169209-n.jpg");
    width: 100px;
    height: 100px;
    text-align: center;
}

.rockButton{
    background:url("https://image.noelshack.com/fichiers/2018/10/2/1520353611-texte-en-flex-thermocollant-rock.jpg");
    width: 100px;
    height: 100px;
    text-align: center;
}

.humourButton{
    background:url("https://image.noelshack.com/fichiers/2018/10/2/1520353611-28537846-2087038321314237-1437428219-n.png");
    width: 100px;
    height: 100px;
    text-align: center;
}

.rapButton{
    background:url("https://image.noelshack.com/fichiers/2018/10/2/1520353611-28537732-2087038314647571-1551823770-n.jpg");
    width: 100px;
    height: 100px;
    text-align: center;
}

.jazzButton{
    background:url("https://image.noelshack.com/fichiers/2018/10/2/1520353611-28741700-2087038294647573-783319240-n.jpg");
    width: 100px;
    height: 100px;
    background-position: center;
}

.reggaeButton{
    background:url("https://image.noelshack.com/fichiers/2018/10/2/1520353611-28537740-2087029444648458-1980529338-n.jpg");
    width: 100px;
    height: 100px;
    text-align: center;
    display: inline-block;
}*/

