html {
    text-align: center;
}

h3 {
    display: none;
}

h1{
    display: none;
}

#presentation {
    display: none;
}


.musique{
    display: none;
}

.inscription{
    display: none;
}

.show{
    display: block;
}

